$primary-color: #397289;

.info-btn button {
    color: $primary-color;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 132px;
    height: 32px;
    border-radius: 5px;
    border-color: $primary-color;

    &:hover {
        cursor: pointer;
    }
}

.cxb-button.cxm-hollow {
    color: $primary-color;
}
