.overview {
    grid-row-start: 3;
    box-shadow: $shadow;

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3 * $main-unit-size $main-unit-size $main-unit-size
            $main-unit-size;
    }

    &_title {
        font-size: 5 * ($main-unit-size / 2);
        font-weight: 600;
    }

    &_grid {
        padding: 2 * $main-unit-size;
    }
}

@media screen and (max-width: $small-device) {
    .overview {
        grid-row-start: 3;
    }
}
