.overview {
    width: 100%;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 10;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3 * $main-unit-size $main-unit-size $main-unit-size
            $main-unit-size;
    }

    &_title {
        font-size: 5 * ($main-unit-size / 2);
        font-weight: 600;
    }

    &_grid {
        width: 100%;
        padding: 2 * $main-unit-size;
    }
}

@media screen and (max-width: $small-device) {
    .overview {
        width: 84%;
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 5;

        .overview_grid {
            padding: 0 !important;
        }
    }
}
