.phototext {
    display: flex;
    flex-direction: row;
    max-width: 868px;
    max-height: 240px;

    .photo {
        width: 297px;
        height: 240px;
        background: url("../assets/img/photo.png");
        display: flex;
        align-items: center;
        margin-right: 32px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    p {
        padding-top: 24px;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    h2 {
        margin-top: -14px;
        max-width: 370px;
    }

    h4 {
        padding-top: 10px;
        max-width: 328px;
    }
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 525px;
    max-height: 240px;

    div:nth-child(1) {
        margin-left: 30px;
    }
}
