.phototext {
    display: flex;
    flex-direction: row;
    max-width: 868px;
    max-height: 240px;

    .photo {
        width: 297px;
        height: 240px;
        background: url("../assets/img/photo.png");
        display: flex;
        align-items: center;
        margin-right: 32px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    p {
        padding-top: 24px;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    h2 {
        margin-top: -14px;
        max-width: 370px;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 23.44px;
    }

    h4 {
        padding-top: 10px;
        padding-bottom: 14px;
        max-width: 328px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.5px;
    }
}
