.dashboard {
    margin-top: 8 * $main-unit-size;
    display: grid;
    gap: 4 * $main-unit-size 12 * $main-unit-size;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 280px) auto;
    z-index: 1;
}

.card_carrier {
    display: flex;
    gap: 32px;
    position: relative;
}

@media screen and (max-width: $small-device) {
    .dashboard {
        margin-top: 10 * $main-unit-size;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card_carrier {
        flex-direction: column-reverse;
    }
}
