// cx
$cx-default-grid-data-alternate-background-color: rgba(134, 134, 134, 0.05);
$cx-default-palette-colors: rgba(57, 114, 137, 1) rgba(136, 170, 184, 1)
    rgba(225, 123, 137, 1) rgba(237, 176, 184, 1) rgba(63, 81, 181, 1)
    rgba(33, 150, 243, 1) rgba(3, 169, 244, 1) rgba(0, 188, 212, 1)
    rgba(0, 150, 136, 1) rgba(76, 175, 80, 1) rgba(139, 195, 74, 1)
    rgba(205, 220, 57, 1) rgba(255, 235, 59, 1) rgba(255, 193, 7, 1)
    rgba(255, 152, 0, 1) rgba(255, 87, 34, 1);
$cx-default-palette-fill-whiten: 10%;

// colors
$primary-100: hsl(349, 78%, 56%);
$text-gray: hsl(225, 9%, 36%);
$text-black: hsl(237, 27%, 14%);
$background-gray: hsl(200, 3%, 83%);
$secondary-100: hsl(197, 41%, 38%);
$secondary-80: hsla(197, 41%, 38%, 0.8);
