@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@400;700&display=swap");
@import "./colors.scss";

$border-radius: 4px;

$cx-include-global-rules: true;

// palette
$cx-default-palette-colors: rgba(57, 114, 137, 1) rgba(136, 170, 184, 1)
    rgba(225, 123, 137, 1) rgba(237, 176, 184, 1) rgba(63, 81, 181, 1)
    rgba(33, 150, 243, 1) rgba(3, 169, 244, 1) rgba(0, 188, 212, 1)
    rgba(0, 150, 136, 1) rgba(76, 175, 80, 1) rgba(139, 195, 74, 1)
    rgba(205, 220, 57, 1) rgba(255, 235, 59, 1) rgba(255, 193, 7, 1)
    rgba(255, 152, 0, 1) rgba(255, 87, 34, 1);
$cx-default-palette-fill-whiten: 10%;

// grid
$cx-default-grid-header-font-size: 11px;
$cx-default-grid-header-padding: 12px 0 8px 10px;
$cx-default-grid-data-padding: 12px;
$cx-default-grid-data-alternate-background-color: rgba(134, 134, 134, 0.05);

// button
$cx-default-button-border-radius: $border-radius;
$cx-default-button-background-color: $gray-color-100;
$cx-default-button-border-color: $gray-color-100;
$cx-default-button-box-shadow: none;

$disabled-button-background-color: lighten($cx-default-button-background-color, 5);
$disabled-button-color: lighten($text-gray, 35);

$cx-default-box-line-height: 1.5;

// font
$font-bold: 600;
$font-size-small: 12px;
$font-size-medium: 14px;
$cx-default-font-size: 16px;
$font-size-large: 20px;
$cx-default-font-family: "Roboto", sans-serif;

// sizing
$main-unit-size: 8px;
$small-device: 830px;

// other
$shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

@import "~cx/src/variables";

$cx-button-state-style-map: cx-deep-map-merge(
    $cx-button-state-style-map,
    (
        default: (
            transition: all 0.2s ease-in,
            width: fit-content,
        ),
        hover: (
            background-color: darken($cx-default-button-background-color, 4),
            border-color: darken($cx-default-button-background-color, 4),
            box-shadow: none,
            transition: all 0.2s ease-in,
        ),
        active: (
            top: 0,
            background-color: darken($cx-default-button-background-color, 10),
            border-color: darken($cx-default-button-background-color, 10),
            box-shadow: none,
        ),
        focus: (
            top: 0,
            background-color: darken($cx-default-button-background-color, 8),
            border-color: darken($cx-default-button-background-color, 8),
            box-shadow: none,
        ),
        disabled: (
            background-color: $disabled-button-background-color,
            border-color: $disabled-button-background-color,
            color: $disabled-button-color,
        ),
    )
);

$cx-button-mods: cx-deep-map-merge(
    $cx-button-mods,
    (
        primary: (
            default: (
                background-color: $primary-60,
                border-color: $primary-60,
                color: #fff,
            ),
            focus: (
                background-color: $primary-80,
                box-shadow: none,
            ),
            hover: (
                background-color: $primary-40,
                border-color: $primary-40,
            ),
            active: (
                background-color: $primary-100,
                border-color: $primary-100,
            ),
        ),
        hollow: (
            default: (
                color: $primary-60,
            ),
        ),
        secondary: (
            default: (
                background-color: transparent,
                border-color: $primary-60,
                color: $primary-80,
            ),
            focus: (
                box-shadow: none,
                border-color: $primary-80,
            ),
            hover: (
                border-color: $primary-40,
            ),
            active: (
                border-color: $primary-100,
            ),
        ),
    )
);

$cx-element-style-map: cx-deep-map-merge(
    $cx-element-style-map,
    (
        html: (
            background-color: #fff,
        ),
    )
);

@import "~cx/src/index";

p {
    line-height: $cx-default-box-line-height;
}

@import "components/index";
@import "layout/index";
@import "routes/index";
@import "./util.scss";
