
.chartcard {
    box-shadow: $shadow;
    display: flex;
    gap: 4 * $main-unit-size;
    padding: 3 * $main-unit-size 4 * $main-unit-size;

    &_post {
        flex: none;
        display: flex;
        flex-direction: column;
        width: 250px;
    }


    &_button {
        margin-top: auto;
    }

    &_chart {
        flex: 1;

        .cxb-svg {
            height: 100%;
        }
    }

    @media screen and (max-width: 1280px) {
        &_post {
            display: flex;
            flex-direction: column;
            grid-row-start: 2;
        }

        &_button {
            align-self: flex-end;
        }

        svg {
            grid-row-start: 1;
        }
    }
}