@import "dashboard/index";

$primary-color: #397289;

.main {
    margin: 64px 79px 0 72px;
    display: grid;
    gap: 32px 96px;
}

.box {
    background: #c4c4c4;
    height: 200px;
    width: 100%;
}

.text {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
}

.desc {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;
}

.boxshadow {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.border {
    border-radius: 4px;
}

.cxm-primary {
    height: 32px;
    background: $primary-color !important;
    border-color: $primary-color !important;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
}
