.maindashboardcard {
    display: flex;
    box-shadow: $shadow;

    &_photo {
        flex: none;
        width: 300px;
        background: url("../assets/img/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.post {
    padding: 3 * $main-unit-size 4 * $main-unit-size;

    &_author {
        margin-bottom: 2 * $main-unit-size;
        font-size: $font-size-small;
    }

    &_button {
        margin-top: auto;
    }
}

@media screen and(max-width: $small-device) {
    .maindashboardcard {
        padding-bottom: 5 * $main-unit-size;
        padding-right: 2 * $main-unit-size;
        position: relative;

        &_photo {
            display: none;
        }
    }

    .post {
        display: flex;
        flex-direction: column;
        &_description {
            margin-bottom: 3 * $main-unit-size;
        }

        &_button {
            align-self: flex-end;
        }
    }
}

