.randomtextcard {
    box-shadow: $shadow;
    padding: 32px;
    &_title {
        margin-left: 2 * $main-unit-size;
        margin-right: 2 * $main-unit-size;
    }

    &_title::before {
        content: "";
        margin-right: $main-unit-size;
        margin-left: -2 * $main-unit-size;
        display: inline-block;
        width: $main-unit-size;
        height: $main-unit-size;
        border-radius: 50%;
        background-color: #e795a1;
    }

    &_desciption {
        max-width: 37 * $main-unit-size;
        margin-top: 2 * $main-unit-size;
        margin-left: 7 * $main-unit-size;
    }

    &_readmore {
        align-self: flex-end;
    }
}

